<h1>Products</h1>

<div class="row">
  <br>
{{#products}}
  <h2>{{Product_name}}</h2>
  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a>
{{/products}}

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}


      <div id="add-products">
      	
      	<h1>Add a product</h1>
      	<form action="/products/add/" method="POST">
      		Description: <input name="Product_name" type="text">
          <!-- [[dropdown]] -->
                <select name="Category_id">
                  {{#categories}}
                  <option value = "{{id}}">{{Category_name}}</option>
                  {{/categories}}
                </select>	
            <!-- [[/dropdown]] -->
      		<input type="submit">
      	</form>
        <br>
        <br>
        <br>
      </div>
</div>

<style type="text/css">
.main-menu {
	display: none;
}
</style>
