<h1>Edit</h1>

{{#products}}
<form action="/products/edit/{{id}}" method="POST">
	Description: <input type="text" name="Product_name" value="{{Product_name}}" >
	{{/products}}
	<select name="Category_id">
            {{#categories}}
            	{{#selected}}
            	<option value = "{{id}}" selected>{{Category_name}}</option>
            	{{/selected}}

            	{{^selected}}
            	<option value = "{{id}}" >{{Category_name}}</option>
            	{{/selected}}
            {{/categories}}
          </select>		
	<input type="submit">
</form>

<style type="text/css">
.main-menu {
	display: none;
}
</style>