<div class="row">
      <section class="webdesigntuts-workshop">
   <form>
    <label for="productPullReq">Search</label>
    <input class='searchbar' id="productPullReq" name="Product_name" placeholder="Search products">         
       </form>
</section>
  </div>

<div class="row"> 
<div class="col-sm-6" style="float:left">
<table class="table table-bordered" id="reqProductsOutPut">
        <thead class="label-info">
        
            <tr>
            <th><h3>Product Name</3></th>
            <th><h3>Manage</3></th>
            </tr>
        </thead>
        {{#products}} 
            <tbody>
                <tr>
            <td name="Product_name">{{Product_name}}
                <div class="well well-lg" name="Category_name">{{Category_name}}</div>
            </td>
            <td>
         <button type="button" class="btn btn-default" onClick="location.href='/products/edit/{{id}}'"><span class="glyphicon glyphicon-edit"></span> Edit</button>
         <button type="button" class="btn btn-danger" onClick="location.href='/products/delete/{{id}}'"><span class="glyphicon glyphicon-remove"></span> Remove</button>
            </td>
                </tr>
            </tbody>
        {{/products}}
</table>
        <div><span class="glyphicon glyphicon-plus"></span><button type="button" class="btn btn-success" onClick="location.href='products/add'">Add product</button></div>   
    </div>

        <div class="col-sm-5">
          <div class="panel panel-success">
            <div class="panel-heading">
            <h3 class="panel-title"><strong><span class="glyphicon glyphicon-stats"></span> Most popular Product</strong></h3>
            </div>
            <div class="panel-body">
        {{#each mostPopularProduct}}
<p><h4 class="label-info"><strong>Product_name Name :</strong>{{Product_name}}</p>
<p ><h4 class="label-info"><strong>Product Quantity :</strong>{{Quantity}}</p>
        {{/each}}
            </div>
          </div>
          <br>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><strong><span class="glyphicon glyphicon-stats"></span> least popular Product</strong></h3>
            </div>
            <div class="panel-body" role="label label-info">
                {{#each leastPopularProduct}}
            <p><h4 class="label-info"><strong>Product Name :</strong>{{Product_name}}</p>
            <p><h4 class="label-info"><strong>Product Quantity :</strong>{{Quantity}}</p>
                {{/each}}
            </div>
          </div>
        </div>
    </row>
</div>

